/*左侧导航栏*/

    #nav_BI01{
        background-color:green;
    }
    #nav_BI02{
        background-color:green;
    }
    #nav_BI03{
        background-color:green;
    }
    #nav_BI04{
        background-color:green;
    }
    #nav_BI05{
        background-color:green;
    }
    
    
    /*按钮所在区域的初始位置*/
    .but01{
        position:absolute;
        top:184px;
        left:0px;
        width:80px;
        height:80px;
    } 
    .but02{
        position:absolute;
        top:264px;
        left:0px;
        width:80px;
        height:80px;
    } 
    .but03{
        position:absolute;
        top:344px;
        left:0px;
        width:80px;
        height:80px;
    } 
    .but04{
        position:absolute;
        top:424px;
        left:0px;
        width:80px;
        height:80px;
    }    
    .but05{
        position:absolute;
        top:504px;
        left:0px;
        width:80px;
        height:80px;
    }   
    /*but里面设计*/
    .But01
    {
        background:url('../img/nav-ico-1.png');
        background-size: cover;
    	border:0px;
        width: 40px;
        height: 45px;
        margin-top: 16px;
		margin-left:20px;
    }
    .But02
    {
        background:url('../img/nav-ico-2.png'); 
        background-size: cover;
    	border:0px;
        width: 40px;
        height: 45px;
        margin-top: 16px;
		margin-left:20px;
    }
    .But03
    {
        background:url('../img/nav-ico-3.png'); 
        background-size: cover;
    	border:0px;
        width: 40px;
        height: 45px;
        margin-top: 16px;
		margin-left:20px;
    }
    .But04
    {
        background:url('../img/nav-ico-4.png'); 
        background-size: cover;
    	border:0px;
        width: 40px;
        height: 45px;
        margin-top: 16px;
		margin-left:20px;
    }
    .But05
    {
        background:url('../img/nav-ico-5.png'); 
        background-size: cover;
    	border:0px;
        width: 40px;
        height: 45px;
        margin-top: 16px;
		margin-left:20px;
    }
    .nav_left
    {
        background-color:#323649;
        width:80px;
        height:768px;
        float:left;
    }
    .main
    {
        float:left;
    }
    .BI02_main
    {
        float:left;
    }