
    #nav_BI{
        background-color:black;
    }
    #nav_BI02{
        background-color:black;
    }
    #nav_BI03{
        background-color:black;
    }
    .but01 .but02 .but03{
        background-color:#007F80;
        width:90px;
        height:90px;
    }
    
    .but02{
        position:absolute;
        top:90px;
        left:0px;
    }    
    
    
    .but03{
        position:absolute;
        top:180px;
        left:0px;
    }    /*默认时a标签是蓝色的*/
    
        .But01
        {
        	background:url('../img/833.png'); 
        	background-size: cover;
        	border:0px;
            width:70px; 
            height:70px; 
            margin:10px;
        }
        .But02
        {
        	background:url('../img/848.png');
        	background-size: cover;
        	border:0px;
            width:70px; 
            height:70px; 
            margin:10px;
            
        }
        .But03
        {
        	background:url('../img/850.png');
        	background-size: cover;
        	border:0px;
            width:70px; 
            height:70px; 
            margin:10px;
        }
        .nav_left
        {
            background-color:#323649;
            width:90px;
            height:1000px;
            float:left;
        }
        .main
        {
            float:left;
        }