/*左侧导航栏*/

    #nav_BI{
        background-color:green;
    }
    #nav_BI02{
        background-color:green;
    }
    #nav_BI03{
        background-color:green;
    }
    .but01 .but02 .but03{
        background-color:#007F80;
        width:90px;
        height:90px;
    }
    /*第二个按钮所在区域的初始位置*/
    .but02{
        position:absolute;
        top:80px;
        left:0px;
    }    
    .but03{
        position:absolute;
        top:160px;
        left:0px;
    }   
    .But01
    {
    	background:url('../img/nav-ico-1.png'); 
    	background-size: cover;
    	border:0px;
        width:36px; 
        height:36px; 
        margin:22px;
    }
    .But02
    {
    	background:url('../img/nav-ico-2.png');
    	background-size: cover;
    	border:0px;
        width:36px; 
        height:36px; 
        margin:22px;
    }
    .But03
    {
    	background:url('../img/nav-ico-3.png');
    	background-size: cover;
    	border:0px;
        width:36px; 
        height:36px; 
        margin:22px;
    }
    .nav_left
    {
        background-color:#323649;
        width:80px;
        height:768px;
        float:left;
    }
    .main
    {
        float:left;
    }
    .BI02_main
    {
        float:left;
    }