<template data-controller-name="com.zhenergy.bo.view.home">
    <div class="nav_left">
        <div class="but01" id="nav_BI">
            <button class="But01" type="button"  onClick="doit1()"></button>
        </div>
        <div class="but02">
            <button class="But02" type="button"  onClick="doit2()"></button>
        </div>
        <div class="but03">
            <button class="But03" type="button"  onClick="doit3()"></button>
        </div>
    </div>
    <h1>BI01</h1>
	<div id="rgcbze" style="width: 800px; height: 400px"></div>
</template>