<template data-controller-name="com.zhenergy.bo.view.home">
    <div class="nav_left">
        <div class="but01" id="nav_BI">
            <button class="But01" type="button"  onClick="doit1()"></button>
        </div>
        <div class="but02">
            <button class="But02" type="button"  onClick="doit2()"></button>
        </div>
        <div class="but03">
            <button class="But03" type="button"  onClick="doit3()"></button>
        </div>
    </div>
    <div class="home">
        <div class="home_div01">
            <div class="home_div01_div01">
                <div class="home_div01_div01_div01" >
                    <label class="home_div01_h3">指标GDP</label>
                </div>
                <div class="home_div01_div01_div02">
                    <label class="home_div01_h1">7.8%</label>
                </div>
                <div class="home_div01_div01_div03">
                    <label class="home_div01_h4">下降0.2%</label>
                </div>
            </div>
            <div class="home_div01_div02">
                <div class="home_div01_div01_div01" >
                    <label class="home_div01_h3">指标CPI</label>
                </div>
                <div class="home_div01_div01_div02" >
                    <label id="home_div01_red01">2.1%</label>
                </div>
                <div class="home_div01_div01_div03" >
                    <label id="home_div01_red02">上升2%</label>
                </div>
            </div>
            <div class="home_div01_div03">
                <div class="home_div01_div01_div01" >
                    <label class="home_div01_h3">指标PPI</label>
                </div>
                <div class="home_div01_div01_div02">
                    <label class="home_div01_h1">50.2%</label>
                </div>
                <div class="home_div01_div01_div03">
                    <label class="home_div01_h4">上升0.2%</label>
                </div>
            </div>
        </div>
        <div class="home_div02">
            <div class="home_div02_div01">
                <div class="home_div02_div01_div01" >
                    <label class="home_div02_h3">收入（亿元）</label>
                </div>
                <div class="home_div02_div01_div02">
                    <label class="home_div02_h1">15.4</label>
                </div>
                <div class="home_div02_div01_div03">
                    <label class="home_div02_h4">下降0.2%</label>
                </div>
                <div class="home_div02_div01_div04" id="home_div02_div01_div01"></div>
            </div>
            <div class="home_div02_div02">
                <div class="home_div02_div01_div01" >
                    <label class="home_div02_h3">收入（亿元）</label>
                </div>
                <div class="home_div02_div01_div02">
                    <label class="home_div02_h1">15.4</label>
                </div>
                <div class="home_div02_div01_div03">
                    <label class="home_div02_h4">下降0.2%</label>
                </div>
                <div class="home_div02_div01_div04" id="home_div02_div01_div02"></div>
            </div>
            <div class="home_div02_div03">
                <div class="home_div02_div01_div01" >
                    <label class="home_div02_h3">收入（亿元）</label>
                </div>
                <div class="home_div02_div01_div02">
                    <label class="home_div02_h1">15.4</label>
                </div>
                <div class="home_div02_div01_div03">
                    <label class="home_div02_h4">下降0.2%</label>
                </div>
                <div class="home_div02_div01_div04" id="home_div02_div01_div03"></div>
            </div>
        </div>
        <div class="home_div03">
            <div class="home_div03_div01"></div>
            <div class="home_div03_div02"></div>
            <div class="home_div03_div03"></div>
        </div>
        <div class="home_div04"></div>
        <div class="home_div05">
            <div class="home_div05_div01"></div>
            <div class="home_div05_div02"></div>
        </div>
        <div class="home_div06"></div>
    </div>
	
</template>