<template data-controller-name="com.zhenergy.bo.view.hongguan">
    <div style="width:1024px;height:768px;">
    	<div class="nav_left">
            <div class="but01" onClick="doit1()">
                <button class="But01" type="button"></button>
            </div>
            <div class="but02" id="nav_BI01" onClick="doit2()">
                <button class="But02" type="button"></button>
            </div>
            <div class="but03" onClick="doit3()">
                <button class="But03" type="button"></button>
            </div>
            <div class="but04" onClick="doit4()">
                <button class="But04" type="button"></button>
            </div>
            <div class="but05" onClick="doit5()">
                <button class="But05" type="button"></button>
            </div>
        </div>
        <div style="width:944px;height:768px;background-color:#344C66;float:left">
            <div class="blue_bg" style="width:364px;height:164.5px;margin-top:30px;margin-left:20px;">
                
            </div>
            <div class="blue_bg" 
                style="width:520px;height:349px;margin-top:30px;margin-left:20px;
                       position:absolute;left:464px">
                           
            </div>
        </div>
    </div>
</template>